<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <fieldTypes>
      <fieldType name="SingleLinkSearch" type="Sitecore.Data.Fields.LookupField,Sitecore.Kernel"/>
    </fieldTypes>
  </sitecore>
</configuration>